<h1> Random Calculation </h1>
<p> A random number between <%= @min %> and <%=  @max%> is <%= @random_number %></p>
<p>
<a href="/random/results?min=<%= @min %>&amp;max=<%=@max%>">Recalculate</a>
</p>
